body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* header section */
header{
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
}

header .logo{
    display: flex;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li{
    margin-left: 16px;
}

/* banner section */

.banner {
    display: flex;
    background-color: lightgray;

}

.banner img{
    width: 60%;
    margin: 32px 24px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
}

.banner-text h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: rgb(67, 67, 69);
}
.banner-text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(67, 67, 69);
}

.banner-text button{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(67, 67, 69);
    color: white;
}

/* information-main section */

.section-1 {
    display: flex;
}

.section-1 .left-1 {
    width: 60%;
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1 .name{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.section-1 .left-1 img{
    width: 100%;
    height: auto;
}

.section-1 .right-1{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-right: 24px;
    width: 40%;
    border-left: 1px solid gray;
}

.section-1 .right-1 .info-block{
    display: flex;
    width: 100%;
}

.section-1 .right-1 img{
    width: 35%;
    height: auto;
    margin: 16px;
    object-fit: contain;
}

#guest {
    background-color: lightgray;
}