body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(67, 67, 69)
}

h1{
    text-align: center;
    padding-top: 32px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(142, 148, 158);
}

/* header section */
header, footer{
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 24px;
    height: 64px;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 37px;
}

header h1{
    text-align: left;
    padding: 0;
}

header ul, footer ul {
    display: flex;
    list-style-type: none;
}

header ul li, footer ul li{
    margin-left: 16px;
}

/* banner section */

.banner {
    display: flex;
    background-color: lightgray;

}

.banner img{
    width: 60%;
    margin: 32px 24px;
    object-fit: contain;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
}

.banner-text h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    color: rgb(67, 67, 69);
}
.banner-text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(67, 67, 69);
}

.banner-text button{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(67, 67, 69);
    color: white;
}

button:hover{
    background-color: rgb(172, 178, 181);
}

/* information-main section */

.section-1 {
    display: flex;
}

.section-1 .left-1 {
    width: 60%;
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1 .name{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.section-1 .left-1 img{
    width: 100%;
    height: auto;
}

.section-1 .right-1{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-right: 24px;
    width: 40%;
    border-left: 1px solid gray;
}

.section-1 .right-1 .info-block{
    display: flex;
    width: 100%;
    /* object-fit: contain; */
}

.section-1 .right-1 .info-block:hover{
    background-color: rgb(142, 148, 158);
}

.section-1 .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1 h6{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.section-1 p{
    margin: 8px 0;
}

.section-1 .right-1 img{
    width: 35%;
    height: auto;
    margin: 16px;
    object-fit: contain;
}

#guest {
    background-color: lightgray;
}

#guest:hover{
    background-color: rgb(142, 148, 158);
}

/* courses section */

.courses {
    background-color: rgb(232, 231, 231);
    padding-bottom: 32px;
}





.courses .subj-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 32px 72px;
}

.courses .subj {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    flex-basis: 30%;
    margin-right: 32px;
    height: auto;
}

.courses .subj:hover{
    background-color: rgb(153, 156, 162);
}

.courses .subj img{
    height: auto;
    display: flex;
    width: 100%;
}

.subj h6, p{
    margin: 16px;
}

/* #thesis {
    border: 0;
} */

#fisma {
    background-color: lightgray;
}

#fisma:hover{
    background-color: rgb(142, 148, 158);
}

video{
    object-fit: contain;
}